.container {
    height: 80px;
    background-color: #a15912;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.logo {
    font-size: 44px;
    font-weight: bolder;
    color: white;
}